/* ############################################################################################################# */
/*                                               Circle Gauge                                                   */
/* ############################################################################################################# */

.soil-gauge,
.humid-gauge,
.temp-gauge {
  width: 100%;
  max-width: 200px;
  max-height: 180px;
  font-size: 2rem;
  color: #004033;
  padding: 1rem;
}
