/* ############################################################################################################# */
/*                                               Toggle Design                                                   */
/* ############################################################################################################# */
.toggleBtn {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 18px;
  background-color: rgba(149, 0, 0, 0.5);
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 300ms;
  box-shadow: inset 2px -4px 6px -3px rgba(0, 0, 0, 0.4), inset -2px 4px 6px -3px rgba(255, 255, 255, 0.3);
}
.switch::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #a4a3a3;
  top: -3px;
  left: 0;
  transition: all 150ms ease-out;
  box-shadow: inset -2px 4px 10px -3px rgba(0, 0, 0, 0.4), inset 2px -4px 10px -3px rgba(255, 255, 255, 0.8);
}

.checkbox:checked + .switch {
  background-color: rgba(0, 149, 120, 0.5);
}
.checkbox:checked + .switch::after {
  left: 24px;
}

.checkbox {
  display: none;
  float: right;
}

/* ############################################################################################################# */
/*                                               Circle Gauge                                                   */
/* ############################################################################################################# */
.soil-gauge,
.humid-gauge,
.temp-gauge {
  width: 100%;
  max-width: 200px;
  font-size: 2rem;
  color: #004033;
  padding: 1rem;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  color: #ccc;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 30%, rgba(255, 255, 255, 0) 100%);
  margin: 0 0 40px 0;
  opacity: 0.8;
}

.header-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-panel .app-title h1 {
  margin: 0;
}

.stats-panel {
  margin: 0 0 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ctrl-panel {
  color: #ccc;
  padding: 1em 2em;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
.ctrl-panel .ctrl {
  display: flex;
  justify-content: space-between;
  padding: 0 1em 0 1em;
}
.ctrl-panel .ctrl:not(:last-child) {
  margin: 0 0 1.2em 0;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.ctrl-panel .ctrl-title {
  font-size: 1.5rem;
}

.config-panel {
  color: #ccc;
  padding: 1em 2em;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
.config-panel .config {
  display: flex;
  justify-content: space-between;
  padding: 0 1em 0 1em;
}
.config-panel .config:not(:last-child) {
  margin: 0 0 1.2em 0;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.config-panel .config-title {
  font-size: 1.5rem;
}

/** ####################################################################### */
/**       m                 Utilities                                       */
/** ####################################################################### */
.glass {
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1));
  border-radius: 10px;
  backdrop-filter: blur(8px);
  border: 1px solid transparent;
  background-clip: padding-box;
  box-shadow: 2px -4px 16px -8px rgba(0, 0, 0, 0.6), inset 2px -4px 16px -8px rgba(255, 255, 255, 0.2);
}