/* ############################################################################################################# */
/*                                               Toggle Design                                                   */
/* ############################################################################################################# */
.toggleBtn {
  display: flex;
  align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 18px;
  background-color: rgba(149, 0, 0, 0.5);
  // background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 300ms;
  box-shadow: inset 2px -4px 6px -3px rgba(0, 0, 0, 0.4), inset -2px 4px 6px -3px rgba(255, 255, 255, 0.3);

  &::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(164, 163, 163, 1);
    top: -3px;
    left: 0;
    transition: all 150ms ease-out;
    box-shadow: inset -2px 4px 10px -3px rgba(0, 0, 0, 0.4), inset 2px -4px 10px -3px rgba(255, 255, 255, 0.8);
  }
}

.checkbox:checked + .switch {
  background-color: rgba(0, 149, 120, 0.5);

  &::after {
    left: 24px;
  }
}

.checkbox {
  display: none;
  float: right;
}
