// body {
//   margin: 0;
//   padding: 0;
// }
@import 'buttons';
@import 'circle-gauge';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  color: #ccc;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 30%, rgba(255, 255, 255, 0) 100%);
  margin: 0 0 40px 0;
  opacity: 0.8;
}
.header-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .app-title h1 {
    margin: 0;
  }
}

.stats-panel {
  margin: 0 0 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ctrl-panel {
  color: #ccc;
  padding: 1em 2em;
  letter-spacing: 2px;
  margin-bottom: 40px;

  & .ctrl {
    display: flex;
    justify-content: space-between;
    padding: 0 1em 0 1em;

    &:not(:last-child) {
      margin: 0 0 1.2em 0;
      padding-bottom: 1em;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
  & .ctrl-title {
    font-size: 1.5rem;
  }
}

.config-panel {
  color: #ccc;
  padding: 1em 2em;
  letter-spacing: 2px;
  margin-bottom: 40px;

  & .config {
    display: flex;
    justify-content: space-between;
    padding: 0 1em 0 1em;

    &:not(:last-child) {
      margin: 0 0 1.2em 0;
      padding-bottom: 1em;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
  }

  & .config-title {
    font-size: 1.5rem;
  }
}

/** ####################################################################### */
/**       m                 Utilities                                       */
/** ####################################################################### */

.glass {
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1));
  border-radius: 10px;
  backdrop-filter: blur(8px);
  border: 1px solid transparent;
  background-clip: padding-box;
  box-shadow: 2px -4px 16px -8px rgba(0, 0, 0, 0.6), inset 2px -4px 16px -8px rgba(255, 255, 255, 0.2);
}
