// body {
//   margin: 0;
//   padding: 0;
// }
@import './config/variables';
@import './config/normalize';
@import './config/mixins';

@import './sections/ctrl-panel';
@import './sections/config-panel';

@import './components/buttons';
@import './components/inputs';
@import './components/circle-gauge';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: var(--global--platinum-full);
  color: #fff;
  background-color: var(--body-bakcground);
  // background-image: url('../img/pexels-rahul-shah-1546027.jpg');
  background-repeat: none;
}

/** ####################################################################### */
/**                         Header and Nav                                  */
/** ####################################################################### */
.header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0) 100%);
  margin: 0 0 40px 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.app-title h1 {
  margin: 0;
}

.time {
  margin-left: auto;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav-link {
  padding: 1em;
  color: #fff;
}

/** ####################################################################### */
/**                         Stats Panel                                     */
/** ####################################################################### */
.stats-panel {
  margin: 0 0 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gauge-container {
  flex: 0 1 200px;
  margin: 8px 10px;
}

.panel-header {
  display: flex;
  // justify-content: space-between;
  margin: 0 0 1.5em 0;
  padding: 0 clamp(0.375em, 1.5vw, 1em) 1em clamp(0.375em, 2vw, 1em);
  position: relative;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0.5em 2px var(--global--neon-blue), inset 0 0 0.5em 2px var(--global--neon-blue);
  }
}

/** ####################################################################### */
/**                         Utilities                                       */
/** ####################################################################### */

.container {
  max-width: min(800px, 95%);
  margin: 0 auto;
}

.glass {
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  border: var(--global--neon-blue-light) 2px solid;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-clip: padding-box;
  box-shadow: 2px -4px 16px -8px rgba(0, 0, 0, 0.6), inset 2px -4px 16px -8px rgba(255, 255, 255, 0.2),
    0 0 0.5em 0px var(--global--neon-blue-full), inset 0 0 0.5em 2px var(--global--neon-blue-full);
}

/** ####################################################################### */
/**                        Media Queries                                    */
/** ####################################################################### */
@media (min-width: $breakpoint-mobile) {
}
@media (min-width: $breakpoint-tablet) {
}
@media (min-width: $breakpoint-large) {
}
